body{
font-family:Arial;
text-align:center;
margin:30px;
background-color: #E3E3E1;
}

.controls button{
margin:5px;
padding:10px 15px;
font-size:16px;
}

input{
display:block;
margin:8px auto;
padding:8px;
width:250px;
}

.correct{
border:2px solid #3bd16f;
background:#eafff1;
}

.wrong{
border:2px solid #ff5a5a;
background:#ffeaea;
}

.progressContainer{
width:80%;
height:8px;
background:#ddd;
margin:20px auto;
border-radius:10px;
}

#progressBar{
height:8px;
width:0%;
background:#1db954;
border-radius:10px;
}

#timer{
margin:10px;
font-weight:bold;
}

#titleHints div,
#artistHints div{
margin:5px;
font-size:14px;
}
